/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Root */
:root {
    --primary-color: #e02c6d;
    --black-color: #3a3a3a;
    --text-color: #787878;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--text-color);
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 1110px;
    margin: auto;
}

.primary-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px 10px 24px;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    position: relative;
}
.primary-btn .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
    
}
.primary-btn:hover .arrow{
    right: 10px
}



/* Navbar CSS */
.navbar-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    color: var(--black-color);
    transition: color 0.3s ease;
}
.menu-area {
    display: flex;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;  
}
.nav-link,
.cart{
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    margin-left: 34px;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}
.search,
.cart {
    font-size: 20px;
    margin-top: 5px;
}
.logo:hover,
.nav-link:hover,
.cart:hover {
    color: var(--primary-color);
}

/* Hero Section CSS */
.hero-section {
    height: 600px;
}
.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}
.hero-title {
    font-size: 52px;
    line-height: 78px;
    font-weight: 700;
    color: var(--black-color);
}
.hero-desc {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    font-weight: 600;
    margin: 16px 0 25px;
    width: 90%;
}
#hero-btn {
    border-radius: 41px;
}
.hero-img-area {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 600px;
}
.hero-img {
    transition: transform 0.3s ease;
}

.hero-img-area:hover .hero-img{
    transform: scale(1.1);
}

/* Company Section CSS */
.company-logo-wrapper {
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/* Popular Collection Section CSS*/
.popular-collection-section {
    padding: 100px 0 50px;
}
.section-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--black-color);
    text-align: center;
}
.collection-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-top: 30px;
}
.collection {
    width: 330px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.collection-img-wrapper {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 256px;
}
.collection-img{
    transition: transform 0.3s ease;
    width: 100%;
}
.collection-img-wrapper:hover .collection-img{
    transform: scale(1.1);
}
.collection-title {
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-color);
    transition: color 0.3s ease;
    margin-top: 16px;
    display: inline-block;
}
.collection:hover .collection-title{
    color: var(--primary-color);
}
.price {
    font-size: 24px;
    line-height: 36px;
    color: var(--black-color);
    margin: 6px 0x;
}
.rating-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.rating-wrapper i{
    font-size: 12px;
    color: #fb8200;
}
.rating {
    font-size: 14px;
    color: #5e6366;
    font-weight: 700;
    margin-left: 10px;
}
.collection-info {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.collection-btn {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 50px;
}
.collection-btn .arrow {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}
.collection-btn:hover .arrow {
    right: -25px;
}

/* Featured Products CSS */
.featured-products-section {
    padding: 50px 0 100px;
}
.featured-products-wrapper {
    display: flex;
    align-items: center;
}


.featured-text-area {
    margin-left: 90px;
}
.featured-title {
    font-size: 38px;
    font-weight: 700;
    color: #0a0b26;
}
.featured-desc {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 28px;
    margin: 16px 0;
}